Repository MicrosoftDocs/OfficeDocs-ProjectServer, pull requests merged in 2024-02, with the labels that each got.

#163 Update project-for-the-web-get-started-guide-for-admins.md
  ProjectWeb/project-for-the-web-get-started-guide-for-admins.md
Labels: Microsoft submitter, project-web/svc

#164 Update get-started-with-project-online.md
  ProjectOnline/get-started-with-project-online.md
Labels: Microsoft submitter, project-online/svc

#165 Update with latest M365 capabilities in Project
  ProjectWeb/office-365-user-view-access-to-project-and-roadmap.md
Labels: Microsoft submitter
